/* vehicle container */
.available-vehicles-container {
	width: 80%;
	margin: 10px 0;
}

.vehicle-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
/* individual vehicle */
.vehicle {
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	padding-top: 10px;
	border-radius: 10px;
}
.not-capable {
	cursor: not-allowed;
	opacity: 0.4;
}

.vehicle img {
	width: 100px;
	height: 100px;
}

.vehicle-name {
	font-size: 16px;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.selected-vehicle {
	background: limegreen;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
}

.available-number {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 13px;
	color: white;
	background: limegreen;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 2px;
	border-radius: 50%;
}

.not-available-ships {
	background: gray;
}
