.destination-container-heading {
    font-size: 20px;
    text-align: center;
}

.destination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.launch-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.planet-wrapper {
    width:80%;
}

.btn-containers {
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.reset-btn {
    
    color: black;
    background: lightgray;
    border: 0;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.reset-btn:hover {
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.launch-btn {
    padding: 10px 20px;
    border: 0;
    color: white;
    background: limegreen;
    border-radius: 12px;

}

.launch-btn:hover {
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

}